@font-face {
    font-family: 'iconfont';
    src: url('/fonts/iconfont.ttf?t=1643070479717') format('truetype');
  }
/* .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
em,
i {
    font-family: "iconfont" !important;
    font-style: normal
}
li {
    list-style: none;
}
body {
    background: palevioletred;
}
.bigbox {
    width: 1360px;
    height: 656px;
    background-color: rgb(255,255,255);
    border-radius: 15px;
}
.title {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgb(86,86,86);
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1px solid rgb(227,227,227);
}

.bigbox .title ul li {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 8px;
    margin-left: 9px;
    border-radius: 50%;
}
.bigbox .title ul .red {
    background-color: rgb(212,78,76);
}
.bigbox .title ul .yellow {
    background-color: rgb(230,169,41);
}
.bigbox .title ul .green {
    background-color: rgb(49,200,62);
}
.left {
    float: left;
    width: 980px;
    height: 626px;
    border-radius: 0px 0px 0px 15px;
}
.left .topbar {
    position: relative;
    height: 30px;
    color: rgb(92,95,100);
}
.left .topbar .topbar_l {
    position: absolute;
    left: 14px;
    top: 4px;
}
.left .topbar .topbar_l button {
    width: 21px;
    height: 21px;
    line-height: 21px;
    background-color: rgb(238,239,244);
    border: 1px solid rgb(192,192,196);
    border-radius: 3px;
    margin-right: 7px;
}
.left .topbar .topbar_r {
    position: absolute;
    top: 4px;
    right: 12px;
}
.left .topbar .topbar_r button {
    width: 21px;
    height: 21px;
    line-height: 21px;
    background-color: rgb(238,239,244);
    border: 1px solid rgb(192,192,196);
    border-radius: 3px;
    margin-left: 10px;
}
.left .topbar .topbar_r .time {
    width: 50px;
}
.left .topbar .topbar_r .menu {
    width: 108px;
}
.left .topbar button i {
    color: rgb(90,93,97);
    font-size: 14px;
}
/* .left .topbar .span {
    color: rgb(92,95,100);
} */
.left .video {
    position: relative;
    height: 543px;
    background-color: rgb(0,0,0);
}
.left .video .more {
    position: absolute;
    color: rgb(127,127,129);
    font-size: 22px;
    left: 10px;
    bottom: 86px;
}
.left .video div {
    position: relative;
    float: left;
    /* position: absolute; */
    width: 490px;
    height: 295px;
    margin-top: 124px;
}
.left .video div img {
    width: 100%;
    height: 100%;
}
.left .video div span {
    font-family: "iconfont" !important;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 24px;
    line-height: 24px;
    padding-right: 8px;
    /* display: inline-block; */
    font-size: 9px;
    color: rgb(255, 255, 255);
    background-color: rgb(0,0,0,0.5);
}
.left .video .other {
    border: 2px solid rgb(43,193,105);
}
.left .video .self {
    position: relative;
    background-color: rgb(48,47,53);
}
.left .video .self img {
    position: absolute;
    top: 95px;
    left: 192px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.left .nav{
    height: 53px;
    color: rgb(72,73,77);
}
.left .nav div p {
    font-size: 1px;
}
.left .nav div {
    float: left;
    text-align: center;
    margin-left: 24px;
    margin-top: 6px;
}
.left .nav i {
    font-size: 26px;
}
.left .nav .end {
    width: 48px;
    height: 38px;
    color: rgb(212,80,75);
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    border: 1px solid rgb(212,80,75);
    border-radius: 3px;
    margin-left: 82px;
    margin-top: 10px;
}
.right {
    float: right;
}
.right .message {
    width: 380px;
    height: 538px;
    border-left: 1px solid rgb(227,227,227);
    border-bottom: 1px solid rgb(227,227,227);
}